input{float padding-right: }


div.container {
    width: 100%;
    border: 1px solid gray;
}

div.container2 {
    width: 100%;
    text-align:center;
    background-color: #dbbd9a;
}

header, footer {
    padding: 1em;
    color: white;
    background-color:#728972;
    clear: left;
    text-align: center;
}

nav {
    position: fixed;
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 50px 50px 50px 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   



article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}



nav ul li a:link, nav ul li a:visited, .container2 a:link, .container2 a:visited {
    background-color: #dbbd9a;;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover, nav ul li a:active, .container2 a:hover, .container2 a:active {
    background-color:#534123;
    font-size: 200%;
}

input {
    margin: 10px 10px 10px 50px;
}


div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}




