


div.container {
    width: 100%;
    border: 1px solid gray;
}

div.container2 {
    width: 100%;
    text-align:center;
}

header, footer {
    padding: 1em;
    color: white;
    background-color:#728972;
    clear: left;
    text-align: center;
}

nav {
    position: fixed;
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}



a:link, a:visited {
    background-color: #dbbd9a;;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color:#534123;
    font-size: 200%;
}
